@import "_variables.scss";
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

body{
    width:100%;
    box-sizing: border-box;
}
.top-block{
    background-color: $bgColor;
    padding-bottom: $marginTopPart - 30;
    padding-top: $marginTopPart;
    .header{
        font-family: "Raleway-Heavy";
        color:  white;
        font-size: 110px;        
        font-weight: 800;
        line-height: 90px;
        text-align: center;
        text-transform: uppercase;        
    }
    .line{
        background-color: $lineColor;
        height: $lineHeight;
        margin-top: $marginBetween - 30;
    }
    .text{
        font-family: "Merriweather-Regular";
        color:  #ccc;
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
        text-align: center;
        margin-top: 50px;
        
    }
}
.second-block{    
    padding-top: $marginBetween;
    .header{
        font-family: "OpenSans-Bold";
        color:  $textColor;
        font-size: 36px;
        font-weight: 700;
        line-height: 48px;
        text-align: left;
        text-transform: uppercase;
    }
    .text{
        font-family: "Merriweather-Light";
        color:  $textColor;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        text-align: left;
        margin-top: $marginBetween - 50;
    }      
    .line{
        background-color: $lineColor;
        height: $lineHeight - 1;
        margin-top: $marginBetween - 5;        
    }
}
.bottom-block{
    padding-bottom: $marginBetween;
    padding-top: $marginBetween;
    .header{
        font-family: "OpenSans-Semibold";
        color:  $textColor;
        font-size: 26px;
        font-weight: 600;
        line-height: 36px;
        text-align: left;
        text-transform: uppercase;
    }
    .text{
        font-family: "OpenSans-Regular";
        color:  #646464;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        margin-top: $marginBetween - 45;
    }
    .social{
        margin: 20px 0;
        text-align: left;
        .socialBtn{
            cursor: pointer;
            width: $socialSize;
            height: $socialSize;
            border-radius: 27px;
            color: white;
            display: inline-block;
            position: relative;
            padding: 0;
            text-decoration: none;
            text-align: center;
            font-size: 16px;
            font-weight: normal;
            line-height: 1.95em;
        }
        .facebookBtn{
            background: #4060A5;
        }
        .facebookBtn:before{ 
            font-family: "FontAwesome";
            content: "\f09a";             
        }
        .twitterBtn{
            background: #00ABE3;
        }    
        .twitterBtn:before{
            font-family: "FontAwesome";
            content: "\f099"; 
        }
        .googleplusBtn{
            background: #e64522;
        }
        .googleplusBtn:before{
            font-family: "FontAwesome";
            content: "\f0d5"; 
        }
        .linkedinBtn{
            background: #0094BC;
        }
        .linkedinBtn:before{
            font-family: "FontAwesome";
            content: "\f0e1"; 
        }
        .pinterestBtn{
            background: #cb2027;
        }
        .pinterestBtn:before{
            font-family: "FontAwesome";
            content: "\f0d2"; 
        }
    }
}
.third-block{
    background-color:  rgba(0, 0, 0, 0.8);
    padding-top: $marginBetween;
    padding-bottom: $marginBetween;
    .header{
        
        font-family: "OpenSans-Semibold";
        color:  #ffffff;
        font-size: 26px;
        font-weight: 600;
        line-height: 48px;
        text-align: left;
        text-transform: uppercase;
    }
    .text{
        margin-top: $marginBetween - 50;
        font-family: "Merriweather-Light";
        color:  #ccc;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        text-align: left;
    }
    .btn{
        margin-top: $marginBetween - 40;
        background-color: rgba(0, 0, 0, 0);
        color: #ccc;
        text-transform: uppercase;
        font-family: "OpenSans-Regular";
        font-size:14px;
        font-weight: 400;
        line-height: 36px;
        text-align: center;
        padding: 1.25em 4.3em;
    }    
}
.footer{
    background-color:  #444;
    padding-top: $marginBetween;
    
    .header{
        text-transform: uppercase;
        font-family: "Raleway-Bold";
        color:  white;
        font-size: 26px;
        font-weight: 700;
        line-height: 36px;
        text-align: left;
    }
    .text{
        font-family: "Lato-Regular";
        color:  #999;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
    }
    a{
        font-family: "Lato-Regular";
        color:  white;
        font-size: 13px;
        font-weight: 400;
        line-height: 36px;
        text-align: left;
        text-transform: uppercase;
        padding: 8px;
    }
    a:hover{
        color:#999;
    }
    input[type="email"]{
        margin-top: $marginBetween - 40;
        font-family: "Lato-Light";
        color:  #555;
        font-size: 60px;
        font-weight: 300;        
        text-align: left;
        background: none;
        height:auto;
        border-style: none;
        border-bottom: 1px solid #999;
    }
    .emailTips{
        @extend .text;
        font-size: 16px;
        margin-top: 10px;
    }
    .social{
        margin: 20px 0;
        text-align: left;
        .socialBtn{
            cursor: pointer;
            width: $socialSize;
            height: $socialSize;
            border-radius: 27px;
            color: #444;
            display: inline-block;
            position: relative;
            padding: 0;
            text-decoration: none;
            text-align: center;
            font-size: 16px;
            font-weight: normal;
            line-height: 1.95em;
            background:#ccc;
        }        
        .facebookBtn:before{ 
            font-family: "FontAwesome";
            content: "\f09a";             
        }            
        .twitterBtn:before{
            font-family: "FontAwesome";
            content: "\f099"; 
        }        
        .googleplusBtn:before{
            font-family: "FontAwesome";
            content: "\f0d5"; 
        }        
        .linkedinBtn:before{
            font-family: "FontAwesome";
            content: "\f0e1"; 
        }        
        .pinterestBtn:before{
            font-family: "FontAwesome";
            content: "\f0d2"; 
        }
        .githubBtn:before{
            font-family: "FontAwesome";
            content: "\f09b";
        }
    }
    .copyrights{
        font-family: "Lato-Regular";
        color:  #777;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        margin-top: $marginBetween;
    }
    
}